@import url(http://fonts.googleapis.com/css?family=Roboto);

body {
	font-family: 'Roboto', sans-serif;
	font-size :15px;
	background-color: transparent;
}

.api{
	padding : 1px;
}

h3{
	font-size :15px;
	color: rgba(0,130,130,1);
}

a {
	color: rgba(0,130,130,1);
}

.fb-block
{
padding-top :15px;
}

.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-10, .col-sm-10, .col-md-10,
.col-lg-10, .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-3,.col-sm-3, .col-md-3, .col-lg-3, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11
.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-10, .col-sm-10, .col-md-10,
.col-lg-10, .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-3,.col-sm-3, .col-md-3, .col-lg-3, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-5, .col-xs-7
{
	padding:0px;
	padding-left:0px;
}



.col-xs-7
{
padding-left:5px;
}

.row {
	margin:0px;
}

.menu {
	text-align: right;
	color : rgb(0,130,130);
	text-decoration : none;
}

.dropdown-menu-right {
	left: -160px;
	top: -10px;
}

.date
{
margin-top :2px;
}

/*Write zone*/
.panel-body{
	padding: 3px;
}

.write-zone >.col-lg-10 {
	width: 87%;
}

.write-zone> .col-lg-2 {
	width: 13%;
}

.filter-mobile{
	display: none;
	}

@media only screen and (max-width : 320px) {
	.col-avatar{
		display: none;
	}

	.publish-facebook{
	font-size: 10px;
	}

	.btn-group-xs > .btn, .btn-xs {
		font-size: 10px;
	}



}

@media only screen and (max-width : 720px) {
.col-xs-5, .col-xs-7
	{
	width:100%;
	}

	}

.pseudo-write-zone {
	margin-top: 10px;
	margin-bottom: 5px;
	padding-left: 0px;
}

.form-group{
	margin-bottom :0px;
}

.mood{
	margin-bottom :20px;
	margin-top :20px;
}

.action {
	text-decoration: none;
	cursor: pointer;
}

.btn-default {
	background-color :white;
	background-image : none;
	box-shadow : none;
}

.btn-group > .btn:last-child:not(:first-child), .btn-group > .dropdown-toggle:not(:first-child) {
	border-bottom-right-radius : 2px;
	border-top-right-radius : 2px;
}

.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
	border-bottom-left-radius : 2px;
	border-top-left-radius : 2px;
}

[contenteditable=true]:empty:before {
  content: attr(placeholder);
  color: silver;
}

.form-control {
	border-radius: 2px;
}

.focus-text:focus{
	border-color : rgba(0,130,130,0.8);
	box-shadow: none;
}

.send-button{
	background-color: rgba(0,130,130,0.8);
	float: right;
	margin-right: 5px;
}

.send-button:disabled, .send-button[disabled] {
	background-color: rgba(0,130,130,1);
	float: right;
	margin-right: 5px;
}

.btn-primary {
	background-image: none;
	box-shadow: none;
	border: none;
	border-radius: 2px;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: rgba(0,130,130,1);
}

.btn-primary:hover, .btn-primary:focus {
	background-color: rgba(0,130,130,1);
}

/* comment section */

.comment-section
{
	margin-top: 60px;
}

.comment-frame {
	margin-top: 20px;
	padding: 5px;
	padding-right: 15px;
	background-color : rgba(246,246,246,1);
	margin-bottom :20px;
}


@media only screen and (max-width : 320px) {
	.comment-frame {
		padding: 5px;
	}
	.col-xs-10 {
		width: 100%;
	}

	.filter-screen{
	display: none;
	border: 1px solid blue;
	}

	.filter-mobile{
	display: block;
	}


}

.avatar img {
	margin-top: 10px;
	margin-left : 10%;
	width: 80%;
	margin-right: 10%;
}

.avatar-write {
	margin-top: 40px;
}

.avatar-write-noconnect {
	margin-top: 20px;
}

.pseudo-comment-zone {
	margin-top: 10px;
	margin-bottom: 5px;
	padding-left: 0px;
}

@media only screen and (max-width : 320px) {
	.pseudo-comment-zone {
		width:100%;
		margin-top: 0px;
		margin-bottom: 5px;
	}


}

.block-mood
{
padding :0px;
}

.block-send,.block-mood
	{
 padding-left: 0px;
    padding-right: 0px;

}

@media only screen and (max-width : 720px) {
.block-mood
	{
   padding-left: 30px;
	}
	}

@media only screen and (max-width : 700px) {
.block-send,.block-mood, .fb-block
	{
    width:100%;
	padding-left: 0px;
	}
}

.text-comment {
	text-align : justify;
	color: black;
	word-wrap: break-word;
	cursor: text;
}

.publish-facebook {
	color: silver;
	text-decoration: none;
	cursor: pointer;
	margin-left :5px;
}

.fb-block
{
margin-top :10px;

}
/*denounce web version */
.position-denounce {
	text-align : right;
	vertical-align : top;
}

.denounce {
	background-color : transparent;
	background-image: none;
	color : rgb(200,200,200);
	box-shadow: none;
	border: 1px solid rgb(200,200,200);
	margin-top: 10px;
}
.denounce:hover {
	background-color : transparent;
	background-image: none;
	color: rgb(255, 0, 0);
	box-shadow: none;
	border: none;
	margin-top: 10px;
}
.denounce:focus {
	background-color : transparent;
	background-image: none;
	color: rgb(255, 0, 0);
	box-shadow: none;
	border: 2px solid rgb(255, 0, 0);
	margin-top: 10px;

}

.denounce-text-mobile{
	display : none;
}

.display-denounce-bottom{
	display : none;
}

/* Ligne with like, experience, denounce mobile version */

.display-experience{
	padding : 0px;
	margin-top: 0px;
}

.like {
	margin-top: 0px;
	text-align: right;
	vertical-align: bottom;
	color: rgba(200,200,200,1);
	padding : 0px;
	padding-top : 5px;
}

.experience {
	background-color: transparent;
	color: rgba(0,130,130,1);
	border: 1px solid rgba(0,130,130,1);
	margin-right: 8px;
	margin-bottom: 5px;
	margin-left: 0px;
}

@media only screen and (max-width : 640px) {

	.display-experience{
		display : none;
	}
	.position-denounce {
		display : none;
	}

	.display-denounce-bottom{
		display : block;
		padding : 0px;
		margin-top: 10px;
	}
	.like {
		margin-top: 10px;
		text-align: left;
		vertical-align: bottom;
		color: rgba(200,200,200,1);
		padding : 0px;
	}

}

@media only screen and (max-width : 240px) {
	.denounce-text-web{
		display : none;
	}
	.denounce-text-mobile{
		display : block;
	}
}

/* end Ligne with like, experience */

/* Moderation */

.moderate {
	padding: 0px;
	background-color: rgba(250,250,250,1);
	padding: 10px;
}

.moderation {
	text-align: center;
}

.moderate-text {
	background-color: white;
	margin-bottom: 10px;
}

.vote {
	text-align: center;
	padding-top: 10px;
	padding-right: 50px;
	padding-left: 50px;
}

@media only screen and (max-width : 640px) {
	.vote {
		padding-right: 0px;
		padding-left: 0px;
	}
}

img.new-comment,
.text-comment img {
	width: auto;
	max-height: 250px;
	display: block;
}

div.new-comment {
	word-break: break-all;
	outline: 0px solid transparent;
	display: inline;
}

label.new-comment {
	float: right;
}

div.form-control {
	float: none !important;
}

/*question*/

.survey{
	text-align : center;
	padding-left : 250px;
	padding-right :250px;
}

@media only screen and (max-width : 979px) {
	.survey{
		margin-bottom : 80px;
		text-align : center;
		padding-left : 0px;
		padding-right :0px;
	}
}

@media only screen and (max-width : 767px) {

	.survey-click {
		margin-top: 10px;
		margin-bottom: 20px;
	}

		.survey{
		margin-top : 90px;
		margin-bottom : 20px;
		text-align : center;
		padding-left : 0px;
		padding-right :0px;
	}
}

.rating-text > .btn
{
	padding: 0px;
}

.button-vote {
	background-color: transparent;
	color: rgba(0,130,130,1);
	border: 1px solid rgba(0,130,130,1);
	width : 95%;
}

div.question > h3 {
	display: inline;
	color: rgb(119,119,119);
	padding: 0px:
}

div.rating {
	font-size: 30px;
}
span.rating {
	font-size: 15px;
}
.rating > span {
	display: inline-block;
}
.rating > span:hover {
	cursor: pointer;
}
.rating > span > i.fa-star-o {
	color: rgb(119,119,119);
}
.rating > span > i.fa-star,
.rating > i.fa-star {
	color: rgb(227,207,122);
}

.rating-text {
	width:20%;
}

.rating-text > span {
	cursor: pointer;
	background-color: transparent;
	color: rgba(0,130,130,1);
	border: 1px solid rgba(0,130,130,1);
	margin-right: 5px;
	margin-top: 5px;
	margin-bottom: 20px;
	margin-left: 5px;

}

.rating-text > span.label {
	font-weight: 200;
	width:100%;
}

.survey-click-web {
	margin-top: 0px;
}

.survey-click-mobil {
	display :none;
}

@media only screen and (max-width : 320px) {
	.survey-click-web {
		display :none;
	}
	.survey-click-mobil {
		display :block;
	}
	.survey-click {
		margin-top: 5px;
		margin-bottom: 0px;
	}

	.button-vote {
		margin-top: 5px;
		margin-bottom: 0px;
	}
}

/*file picture */

.btn-file {
	position: relative;
	overflow: hidden;
}
input.btn-file[type=file] {
	width: 0;
	height: 0;
	filter: alpha(opacity=0);
	opacity: 0;
	outline: none;
	background: transparent;
}

/* modal */

.modal-position{
	padding-left: 10px;
}

@media only screen and (max-width : 640px) {
	.modal-header
	{
		display: none;
	}
	.modal-body {
		padding: 2px;
	}

	.modal-position{
		padding-left: 0px;
	}

	.btn-google{
		margin-top :5px;
	}

}

.modal-backdrop {
    background-color: #fff;
	}