	<section id="features">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Avantages pour l'éditeur</h2>
                    <hr class="primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-graduation-cap wow bounceIn text-primary"></i>
                        <h3>Economisez du temps de modération</h3>
                        <p class="text-muted">Tout le monde est invité à modérer de façon aléatoire et anonyme. Lorsque les auteurs participent à la création de meilleurs échanges, ils gagnent en crédibilité et leur rôle augmente dans la communauté.
						</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-flash wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        <h3>Aucun abus possible</h3>
                        <p class="text-muted">La modération se fait sur des règles de forme et l'auteur est contrôlé par la communauté aléatoirement et anonymement. Les abus sont réduits et vous gardez la main en cas de problème.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-certificate wow bounceIn text-primary" data-wow-delay=".3s"></i>
						<h3>Gagnez de l'engagement</h3>
                        <p class="text-muted">L'auteur de commentaire possède des outils pour valoriser ses commentaires. Son objectif est d'être lu. Votre objectif est que le lecteur reste lire les commentaires.</p>
                   
					</div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-line-chart wow bounceIn text-primary" data-wow-delay=".4s"></i>
                        <h3>Gagnez du trafic</h3>
                        <p class="text-muted">Les pages sont valorisées pour inciter les auteurs à donner leurs avis</p>
                    </div>
                </div>
            </div>
			            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-question wow bounceIn text-primary"></i>
                        <h3>Sondez vos lecteurs</h3>
                        <p class="text-muted">Posez leur une question et obtenez une note sur un produit, un article...</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-pie-chart wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        <h3>Qualifiez vos auteurs</h3>
                        <p class="text-muted">Vous obtenez des informations permettant de comprendre la sensibilité de l'auteur afin de leur proposer un contenu pertinent.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-users wow bounceIn text-primary" data-wow-delay=".3s"></i>
                        <h3>Crowd sourcing</h3>
                        <p class="text-muted">Utilisez <i>What is Your OPINION</i> pour investir les auteurs.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-bar-chart wow bounceIn text-primary" data-wow-delay=".4s"></i>
                        <h3>Analysez</h3>
                        <p class="text-muted">Analysez les opinions des auteurs pour améliorer vos produits ou votre contenu.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

