<% include header-promote %>
<% include navbar %>


<header id="top">
		<section class="" >
        <div class="container">
		 <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center problem-section">
                    <h2 class="section-heading wow bounceIn" data-wow-delay=".1s" >A propos</h2>
                    <hr class="light">
               
                   
                </div>
            </div>
			<div class="row">

		<article class="container">
		<div class="row">
				<div class="text-justify col-lg-12">
					Le projet a été lancé lors du Start Up Week End de Polytechnique. Nous sommes partis du constat qu'il était difficile d'inciter à la modération les internautes auteurs de commentaires sur des sujets qui les passionnent.
					Plutôt que de donner le pouvoir aux éditeurs, nous avons voulu proposer une approche innovante en donnant le pouvoir aux auteurs. Ne sachant pas si il sera contrôle et par qui, l'internaute est invité à mesurer ses propos.
					Il est même incité à commenter plus pour compléter les informations disponibles sur le net.
					Nous nous focalisons à valoriser les auteurs respectueux des autres internautes. L'objectif est d'inviter chacun à respecter les autres internautes au risque de perdre des points.
					<i>What is Your OPINION</i> n'a pas vocation à être un système parfait mais pousse l'auteur à faire attention à son comportement.
				</div>
			</div>

			<div class="row">
				<div class="col-lg-3">
					<section class="box style1">
					<h3>David Geffroy</h3>
					Commercial diplomé de l'ESC Brest
					</section>
				</div>
				<div class="col-lg-3">
					
					<section class="box style1">
					<h3>Tristan Savina</h3>
					Ingénieur diplomé de l'ENSSAT
					</section>
				</div>
				<div class="col-lg-3">
					<section class="box style1">
					<h3>Arnaud Bozec</h3>
					Ingénieur diplomé de Polytechnique
					</section>
				</div>
				<div class="col-lg-3">
					<section class="box style1">
					<h3>Romain Fournereau</h3>
					Sup Info
					</section>
				</div>
			</div>
			
		</article>
		</div>
		
		</div>
	</section>
	
	</header>

<% include foot %>
</body>
</html>
