<% include header-promote %>
<% include navbar %>

	<section class="bg-primary" id="problem">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center problem-section">
                    <h2 class="section-heading wow bounceIn" data-wow-delay=".1s" >Pourquoi et comment devenir crédible?</h2>
                    <hr class="light">
                    <a href="#rules" class="btn btn-default btn-xl page-scroll">Voir le détail</a>
                   
                </div>
            </div>
        </div>
    </section>
	
	<section  id="rules">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center problem-section">
         
                    <hr class="light">
                    

<h3> Pourquoi?</h3><br>
Vos commentaires seront plus lus et vous gagnerez en influence<br><br>
<h3>  Comment?</h3> <br>
<ul class="list-group">
						<li class="list-group-item">Commentez </li><li class="list-group-item">Modérez</li><li class="list-group-item">Signalez les commentaires inaprorpiés</li>
						<li class="list-group-item">Commentez des sites différents</li><li class="list-group-item">Faites des commentaires de plus de 140 caractères</li>
					</ul>

					
                </div>
            </div>
        </div>
    </section>	

<% include foot %>
</body>
</html>
