<% include header-promote %>
<% include navbar %>

<section class="bg-primary" id="problem">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 text-center problem-section">
				<h2 class="section-heading wow bounceIn" data-wow-delay=".1s" >Démonstration</h2>
				<hr class="light">
				<a href="/rules" class="btn btn-default btn-xl page-scroll">Respectez les règles et gagnez en crédibilité</a>

			</div>
		</div>
	</div>
</section>
<section>
	<div class="container">
		<div id="ciid-div"></div>
		<script type="text/javascript">
		/* * * CONFIGURATION VARIABLES * * */
		var ciid_token = '2d72cf8e0b5c5cadccc8373a2cda2d5798ae1a671629bde5e4ac0da6cadf25caf8ee89d77c992e85860a9cefd6b5d650';
		var ciid_mode = 'comments';
		// var ciid_mode = 'admin';
		(function() {
			var dsl = document.createElement('script');
			dsl.type = 'text/javascript';
			dsl.async = true;
			dsl.src = '//local.what-is-your-opinion.com/api/javascripts/apiLoader.js';
			(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsl);
		})();
		</script>
		<noscript>Please enable JavaScript to view the content of the page.</noscript>
	</div>
</section>
<% include foot %>
</body>
</html>
