<% include header-promote %>
<% include navbar %>

	<section class="problem-picture2" id="problem">
	<div class="row">
			<div class="col-lg-offset-7 col-lg-5 moderation-center">		
				<div class="slogan">
					<h2 class="wow bounceIn" data-wow-delay=".1s">Les mauvais commentaires</h2>
					<hr class="light">
					<h3  class="wow bounceIn" data-wow-delay=".9s">C'est terminé!!</h3>
				</div>			
			</div>
	</div>
	</section>
	<section class="bg-primary" id="problem">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center problem-section">
                    <h2 class="section-heading wow bounceIn" data-wow-delay=".1s" >Gagnez en temps et en qualité</h2>
                    <hr class="light">
                    <a href="#features" class="btn btn-default btn-xl page-scroll">Responsabilisez vos auteurs</a>                 
                </div>
            </div>
        </div>
    </section>	
	
<% include ../offer/features %>
<% include ../offer/offer-editors %>

<% include foot %>
</body>
</html>
