<% include header-promote %>
<% include navbar %>

	<header id="top">
		<section class="" >
        <div class="container">
		 <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center problem-section">
                    <h2 class="section-heading wow bounceIn" data-wow-delay=".1s" >Mentions</h2>
                    <hr class="light">
               
                   
                </div>
            </div>
			<div class="row">

<article class="container">
				Le site www.what-is-your-opinion.com est un projet open source GNU lancé par David GEFFROY, Arnaud BOZEC et Tristan SAVINA. Vous pouvez reproduire partiellement ou la totalité du code.
			<br/><br/>
			
				David GEFFROY 2015
				This program is free software; you can redistribute it and/or modify
				it under the terms of the GNU General Public License as published by
				the Free Software Foundation; either version 2 of the License, or
				(at your option) any later version.

				This program is distributed in the hope that it will be useful,
				but WITHOUT ANY WARRANTY; without even the implied warranty of
				MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
				GNU General Public License for more details.

				You should have received a copy of the GNU General Public License along
				with this program; if not, write to the Free Software Foundation, Inc.,
				51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
			<br/><br/>
			Les serveurs du site sont hébergés par :<br/>
			Google Cloud<br/>

			Le directeur de la publication est :<br/>
			David GEFFROY<br/>
			19 Rue Karrent Roz<br/>
			22700 Perros Guirec <br/>
			Téléphone : +33 (0)6 88 94 71 03<br/>
			dg@what-is-your-opinion.com<br/>
		</article>
		</div>
		
		</div>
	</section>
	
	</header>

<% include foot %>
</body>
</html>
