<% include header-promote %>
<% include navbar %>

	<section class="bg-primary" id="problem">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center problem-section">
                    <h2 class="section-heading wow bounceIn" data-wow-delay=".1s" >Un commentaire est un complément à l'article de 140 à 500 caractères s'adressant aux lecteurs</h2>
                    <hr class="light">
                    <a href="#rules" class="btn btn-default btn-xl page-scroll">Voir le détail</a>
                   
                </div>
            </div>
        </div>
    </section>
	
	<section  id="rules">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center problem-section">
                    <h2 class="section-heading wow bounceIn" data-wow-delay=".1s" >Comment modérer ou signaler ?</h2>
                    <hr class="light">
                    

<h3> Règle numéro 1</h3><br>
Un commentaire est un complément à l'article.<br><br>
<h3> Règle numéro 2 :</h3> <br>
Tous les propos racistes, homophobes, injurieux ou non autorisés par la loi doivent être modérés. <br><br>
<h3> Règle numéro 3 :</h3> <br>
Un commentaire publié et hors sujet doit être signalé. Lors du signalement, veuillez indiquer la raison. <br><br>
<h3> Règle numéro 4 :</h3> <br>
Un commentaire qui n'est pas compréhensible doit être modéré. L'excès de fautes d’orthographe peut être sanctionné. Il est interdit d’écrire en majuscule.<br><br>
<h3> Règle numéro 5 : </h3> <br>
Un commentaire « opinion » ou « information » ne doit pas prendre en dérision un autre auteur ou une catégorie de personne. <br><br>
<hr class="light"><hr class="light">
 <h2 class="section-heading wow bounceIn" data-wow-delay=".1s" >Pourquoi participer ?</h2>
                    <hr class="light">

					Pour gagner en crédibilité : <a href="/credibility"> voir la crédibilité </a>

					
                </div>
            </div>
        </div>
    </section>	

<% include foot %>
</body>
</html>
