<!--
David GEFFROY 2015
This program is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 2 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License along
with this program; if not, write to the Free Software Foundation, Inc.,
51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.-->
<% include ../header %>
	<% include ../topbar/topbar %>
	<div id="page">
		<div class="container-fluid">
			<div class="row">
					<div class="col-lg-12">
						<h1 class="page-header">A propos</h1>
					</div>
				</div>	
			<div class="row">
				<div class="text-justify col-lg-12">
					Le projet a été lancé lors du Start Up Week End de Polytechnique. Nous sommes partis du constat qu'il était difficile d'inciter à la modération les internautes auteurs de commentaires sur des sujets qui les passionnent.
					Plutôt que de donner le pouvoir aux éditeurs, nous avons voulu proposer une approche innovante en donnant le pouvoir aux auteurs. Lors de la modération collaborative, ne sachant si il sera contrôlé et par qui, l'internaute est invité à mesurer ses propos.
					Les auteurs sont incités à commenter pour compléter les informations disponibles sur le net.
					Nous nous focalisons à valoriser les auteurs respectueux des autres internautes et respectant les règles. Les jugements ne sont pas sur le fond mais sur la forme.
					L'objectif est d'inviter chacun à respecter les autres internautes au risque de perdre des points.
					<i>What is Your OPINION</i> n'a pas vocation à être un système parfait mais pousse l'auteur à faire attention à son comportement.
				</div>
			</div>

			<div class="row">
				<div class="col-lg-3">
					<section class="box style1">
					<h3>David Geffroy</h3>
					Commercial diplomé de l'ESC Brest
					</section>
				</div>
				<div class="col-lg-3">
					
					<section class="box style1">
					<h3>Tristan Savina</h3>
					Ingénieur diplomé de l'ENSSAT
					</section>
				</div>
				<div class="col-lg-3">
					<section class="box style1">
					<h3>Arnaud Bozec</h3>
					Ingénieur diplomé de Polytechnique
					</section>
				</div>
				<div class="col-lg-3">
					<section class="box style1">
					<h3>Romain Fournereau</h3>
					Sup Info
					</section>
				</div>
			</div>
			
			<div class="row">
				<div class="col-lg-12">
				  <a href="/dashboard/mentions">Mentions</a>
				</div>
			</div>

		</div>
	</section>

			</div>
		</div>
	</div>
</body>
</html>
