<% include promote/header-promote %>
	<script>
		setTimeout(function(){window.location = "/";},2000);
	</script>
	<div id="acccount-validation">
		<div class="container-fluid" >
			<div class="row ">
				<div class="block">
					<h1>Votre compte a été validé !!</h1>
					<h4>Vous allez être redirigé dans 2sec</h4>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
