<!--
David GEFFROY 2015
This program is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 2 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License along
with this program; if not, write to the Free Software Foundation, Inc.,
51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.-->
<% include promote/header-promote %>
<% include promote/navbar %>

	<header id="top">
		<div class="header-content">
			<div class="header-content-inner">
				<h1>Commentaires par modération collaborative</h1>
				<hr>
				<p class="wow bounceIn" data-wow-delay=".1s">Un plugin de commentaires plus crédibles</p>
				<a  href="/demo" class="btn btn-primary btn-xl page-scroll">Démonstration</a>
			</div>
		</div>
	</header>

	<section class="bg-primary" id="problem">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 text-center problem-section">
					<h2 class="section-heading wow bounceIn" data-wow-delay=".1s" >Un commentaire est un complément à l'article jusqu'à 500 caractères s'adressant aux lecteurs</h2>
					<hr class="light">
					<a href="/rules" class="btn btn-default btn-xl page-scroll">Voir les règles</a>

				</div>
			</div>
		</div>
	</section>

	<section class="problem-picture1" id="problem">
	</section>

	<section class="bg-primary" id="problem">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 text-center problem-section">
					<h2 class="section-heading wow bounceIn" data-wow-delay=".1s">Evitons les abus</h2>
					<hr class="light">
					<p class="text-faded">Les échanges perdent leurs sens</p>

				</div>
			</div>
		</div>
	</section>

	<section class="problem-picture2" id="problem">
		<div class="row">
			<div class="col-lg-offset-7 col-lg-5 moderation-center">		
				<div class="slogan"><h2>Des outils de validation </h2><h3>aléatoires et anonymes</h3></div>			
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 moderation-center">
				<div class="moderation"> Modérez ce commentaire
					<div class="moderation-body"> 
						<div class="moderation-title"><strong>Newspaper</strong> | <i class="fa fa-comments"></i>
						</div>
						<p>
							Je préfère vous dire que cette course est vraiment moins stimulante que celle que j'ai pu voir lors de Paris Roubaix. Les coureurs ont attaqué dès les premiers kilomètres
							sans se poser de question. On aura pu imaginer un tout autre scénario. 
						</p>15 février 2015
					</div>
					<div class="row vote">
						<div class="awesome col-xs-4"><i class="fa fa-chevron-circle-down wow bounceIn" data-wow-delay=".2s"></i></br> Valider</div>
						<div class="awesome col-xs-4"><i class="fa fa-exclamation-triangle wow bounceIn" data-wow-delay=".2s"></i></br> Limite</div>
						<div class="awesome col-xs-4"><i class="fa fa-trash-o wow bounceIn" data-wow-delay=".2s"></i></br> Supprimer</div>
					</div>
				</div>
			</div>
			<div class="col-lg-offset-3 col-lg-5">		

			</div>
		</div>	
	</section>

	<section id="services">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<h2 class="section-heading">Les auteurs de commentaires respectueux gagnent en crédibilité!</h2>
					<hr class="primary">
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6 text-center">
					<div class="service-box">
						<i class="fa fa-4x fa-user wow bounceIn text-primary"></i>
						<h3>Valorise l'auteur</h3>
						<p class="text-muted">Vous pouvez mettre en avant votre expérience ou votre expertise pour que le lecteur comprenne mieux vos propos.</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 text-center">
					<div class="service-box">
						<i class="fa fa-4x fa-flash wow bounceIn text-primary" data-wow-delay=".2s"></i>
						<h3>Donne le pouvoir</h3>
						<p class="text-muted">Tout le monde est invité à modérer de façon aléatoire et anonyme. Lorsque vous participez à améliorer les échanges, vous gagnez en crédibilité et votre rôle augmente dans la communauté.</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 text-center">
					<div class="service-box">
						<i class="fa fa-4x fa-gavel wow bounceIn text-primary" data-wow-delay=".3s"></i>
						<h3>Des règles objectives</h3>
						<p class="text-muted">La modération se fait sur des règles de forme et vous êtes contrôlés par la communauté aléatoirement et anonymement.</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 text-center">
					<div class="service-box">
						<i class="fa fa-4x fa-line-chart wow bounceIn text-primary" data-wow-delay=".4s"></i>
						<h3>Gagnez en influence</h3>
						<p class="text-muted">Lorsque vous gagnez en crédibilité, votre commentaire sera peu à peu mieux positionné.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="bg-primary" id="problem">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 text-center problem-section">
					<h2 class="section-heading">Devinez les commentaires valides ou non valides</h2>
					<hr class="light">
					<i class="fa fa-4x fa-chevron-down wow bounceIn "  data-wow-delay=".2s"></i>
				</div>
			</div>
		</div>
	</section>
	<section class="no-padding" id="portfolio">
		<div class="container-fluid">

			<div class="row no-gutter">
				<div class="col-lg-6 col-sm-6">
					<a href="#" class="portfolio-box">
						<img src="images/portfolio/1.png" class="img-responsive" alt="">
						<div class="portfolio-box-caption">
							<div class="portfolio-box-caption-content">
								<div class="project-category text-faded">
									Commentaire non validé
								</div>
								<div class="project-name">
									Commentaire non validé pour propos déplacés
								</div>
							</div>
						</div>
					</a>
				</div>
				<div class="col-lg-6 col-sm-6">
					<a href="#" class="portfolio-box">
						<img src="images/portfolio/1.png" class="img-responsive" alt="">
						<div class="portfolio-box-caption">
							<div class="portfolio-box-caption-content">
								<div class="project-category text-faded">
									Commentaire non validé
								</div>
								<div class="project-name">
									Pour avoir écris en lettre capital
								</div>
							</div>
						</div>
					</a>
				</div>
				<div class="col-lg-6 col-sm-6">
					<a href="#" class="portfolio-box">
						<img src="images/portfolio/1.png" class="img-responsive" alt="">
						<div class="portfolio-box-caption">
							<div class="portfolio-box-caption-content">
								<div class="project-category text-faded">
									Commentaire non validé
								</div>
								<div class="project-name">
									Pour avoir pris à parti un autre auteur
								</div>
							</div>
						</div>
					</a>
				</div>
				<div class="col-lg-6 col-sm-6">
					<a href="#" class="portfolio-box">
						<img src="images/portfolio/1.png" class="img-responsive" alt="">
						<div class="portfolio-box-caption">
							<div class="portfolio-box-caption-content">
								<div class="project-category text-faded">
									Commentaire non validé
								</div>
								<div class="project-name">
									Le texte n'est pas compréhensible
								</div>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</section>

	<section class="bg-third" id="experiences">
		<div class="row">
			<div class="col-lg-6 col-sm-6 text-center">
				<h2 class="section-heading">Montrez vos expériences</h2>
				<hr class="primary">
				<p class="">Pour valorisez vos commentaires</p>
			</div>
			<div class="col-lg-6 col-sm-6">
				<img src="images/portfolio/experiences.png" class="img-responsive" alt="">
			</div>
		</div>
	</section>
<% include promote/foot %>
</body>
</html>
