<div class="modal-header">
	<h3 class="modal-title">
		Plus d'options
	</h3>
</div>
<div class="modal-body">
	<div class="row" style="padding-left: 10px;" ng-show="!create">
		<div class="row">
			<div class="col-lg-4">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title"><center><strong>Expert offer</strong></center></h3>
					</div>
					<div class="panel-body body-offer">
						<div class="features row">
							<ul>
								<li>Le nombre de vos lecteurs</li>
								<li>Les sites où vous êtes lu</li>
								<li>Les sites où vous êtes approuvés</li>
							</ul>
						</div>
						
						<div class="row"><strong><center>$5€/month</center></strong></div><br>
						<div class="row button-offer"><center>
							<button type="button" class="btn btn-default btn-lg"ng-click="button1()">
								Essayer
							</button></center>
						</div>
					</div>
				</div>	
			</div>
			<div class="col-lg-4">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title"><center><strong>Business offer</strong></center></h3>
					</div>
					<div class="panel-body body-offer">
						<div class="features row">
							<ul>
								<li>Contacter les personnes vous approuvant</li>
							</ul>
						</div>
						<div class="row"><center><strong>$5/month </strong></center></div><br>
						<div class="row button-offer">
							<center>
								<button type="button" class="btn btn-default btn-lg"ng-click="button2()">
									Essayer
								</button>
							</center>
						</div>
					</div>
				</div>	
			</div>
			<div class="col-lg-4">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title"><center><strong>Specific offer</strong></center></h3>
					</div>
					<div class="panel-body body-offer">
						<div class="features row">
							<textarea class="form-control" ng-model="demand"></textarea>
						</div>
						<div class="row"><center><strong>Contact us</strong></center></div><br>
						<div class="row button-offer">
							<center>
								<button type="button" class="btn btn-default btn-lg"ng-click="button3(demand)">
									Envoyer
								</button>
							</center>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>